<h1><%= I18n.localize(@seldate, :format => "%A %e") %>&nbsp;<%= link_to I18n.localize(@seldate, :format => "%B %Y"), :month => (@seldate).strftime("01-%m-%Y"), :controller => "events", :action => "newcal" %></h1>
<%= render :partial => "shared/events_by_branch", :locals => { :events => @interventions } %>
