.miniinstance {
border-style: groove;
border-color: #0000FF;
border-width: 5px;
padding: 5px;
margin: 5px;
}

.minibranch {
border-style: groove;
border-color: #006600;
border-width: 5px;
margin: 5px;
padding: 5px;
}

.miniserver {
border-style: groove;
border-color: #7F0055;
border-width: 5px;
margin: 5px;
padding: 5px;
}
