<h1>Bienvenue</h1>

<% if iphone_user_agent? # Show message for iPhone users -%>
<div class="message">
    <p>Using an iPhone? <a href="http://iphone.trawlr.com/">Use the optimised version</a>.</p>
</div>
<% end -%>

<div class="span-24 last">
		<p>Suivi interne de Serveurs, Instances de base de données & Agences</p>
</div>
<div class="span-24 last">
	<% if user_signed_in? %>
		<%= raw Cartographer::Header.new.to_s %>
		<%= raw @map.to_html %>
		<div style="width:700px;height:700px;" id="map" >[Map] 
		</div>
	<% end %>
</div>
	  
