<div class="span-24 last">
	<% if user_signed_in? %>
		<h1>Répartition des étapes</h1>
			<div>
				<%= raw @graph3%>
			</div>
		</div>
	<% end %>
</div>	  

<div class="span-24 last">
	<% if user_signed_in? %>
		<h1>Etat des installations</h1>
		<div>
			<%= raw @graph1%>
		</div>
	<% end %>
</div>	  

<div class="span-24 last">
	<% if user_signed_in? %>
		<h1>Etat des migrations</h1>
		<div>
			<%= raw @graph2%>
		</div>
	<% end %>
</div>	  
