<p>Bonjour <%= @resource.email %>!</p>

<p>Quelqu'un a demander un lien pour modifier votre mot de passe, et vous pouvez le faire au moyen du lien ci-dessous.</p>

<p><%= link_to 'Modifier mon mot de passe', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si cette demande n'est pas de votre initiative, ignorez simplement ce mail.</p>
<p>Votre mot de passe ne changera pas tant que vous n'accderez pas à ce lien pour en positionner un nouveau.</p>
